.mainDiv {
  margin: 0;
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20%;
}
.eachDayContainer {
  width: 35%;
  height: 30%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 5%;
  margin-bottom: 5%;
}
.weekdayName {
  color: black;
  margin: 0;
  margin-bottom: 1%;
  font-family: sans-serif;
}
.imageStyling {
  margin: 0;
  height: 40%;
}
.temperatureDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.highestTemp {
  margin-right: 0.5rem;
  font-family: sans-serif;
}
.lowestTemp {
  color: grey;
  font-family: sans-serif;
}

.mainHeading {
  margin-top: 0;
  text-align: center;
  padding-top: 1rem;
  font-family: sans-serif;
}
